{% extends 'base.html.twig' %}

{% block title %}Welcome to Tic Tac Toe Game!{% endblock %}

{% block body %}
<div id="app" class="app">
    <article class="has-text-centered">
        <h1 class="title is-1">
            Welcome to the Tic Tac Toe Game
        </h1>
        <h3 class="subtitle">
            Choose your unit
        </h3>
    </article>

    <div class="columns is-centered unit-selector">
        <div class="column is-1">
            <div class="box is-size-3 has-text-centered">
                &#9747
            </div>
        </div>
        <div class="column is-1">
            <div class="box is-size-3 has-text-centered">
                &#9898
            </div>
        </div>
    </div>

    <div class="container board">
        <div class="columns is-centered">
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
            <div class="column is-1">
                <div class="box is-size-6 has-text-centered">
                    &#9747
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
